/Settings/backup
/prototyping.ipynb
/Train_U_Ones.csv
/Train_U_Zeros.csv
/Training_tests.ipynb
/Valid.csv
/Template_Matching/view1_frontal.jpg
/Data_Handler/patients_data_updated.csv
/Data/patients_data.csv
/Data/patients_data_reformatted.csv
/Data/patients_data_updated.csv
/Data/Template_Matching_Results/ex6/v6_250tv2_g/coruppted.jpg
/Data/Template_Matching_Results/ex6/v6_250tv2_g/patient00004_0.jpg
/Data/Template_Matching_Results/ex6/v6_250tv2_g/patient00005_0.jpg
/Data/Template_Matching_Results/ex6/v6_250tv2_g/patient00035_0.jpg
/Data/Template_Matching_Results/ex6/v6_250tv2_g/patient00037_0.jpg
/Data/Template_Matching_Results/ex6/v6_250tv2_g/patient00038_0.jpg
/Data/Template_Matching_Results/ex6/v6_250tv2_g/patient00038_1.jpg
/Data/Template_Matching_Results/ex6/v6_250tv2_g/patient00038_2.jpg
/Data/Template_Matching_Results/ex6/v6_250tv2_g/patient00039_0.jpg
/Data/Template_Matching_Results/ex6/v6_250tv2_g/patient00039_9.jpg
/Data/Template_Matching_Results/ex6/v6_250tv2_g/patient00042_0.jpg
/Data/Template_Matching_Results/ex6/v6_250tv2_g/patient00044_7.jpg
/Data/Template_Matching_Results/ex6/v6_250tv2_g/patient00046_5.jpg
/Data/Template_Matching_Results/ex6/v6_250tv2_g/patient00047_1.jpg
/Data/Template_Matching_Results/ex6/v6_250tv2_g/patient00047_4.jpg
/Data/Template_Matching_Results/ex6/v6_250tv2_g/patient00049_1.jpg
/Data/Template_Matching_Results/ex6/v6_250tv2_g/patient00051_0.jpg
/Data/Template_Matching_Results/ex6/v6_250tv2_g/patient00060_0.jpg
/Data/Template_Matching_Results/ex6/v6_250tv2_g/patient00061_2.jpg
/Data/Template_Matching_Results/ex6/v6_250tv2_g/patient00061_4.jpg
/Data/Template_Matching_Results/ex6/v6_250tv2_g/patient00062_0.jpg
/Data/Template_Matching_Results/ex6/v6_250tv2_g/patient00081_3.jpg
/Data/Template_Matching_Results/ex6/v6_250tv2_g/patient00128_11.jpg
/Data/Template_Matching_Results/ex6/v6_250tv2_g/patient00128_12.jpg
/Data/Template_Matching_Results/ex6/v6_250tv2_g/patient00168_5.jpg
/Data/Template_Matching_Results/ex6/v6_250tv2_g/patient00191_0.jpg
/Data/Template_Matching_Results/ex6/v6_250tv2_g/patient15975_1.jpg
/Data/Template_Matching_Results/ex6/v6_250tv2_g/patient16093_0.jpg
/Data/Template_Matching_Results/ex6/v6_250tv2_g/patient16104_1.jpg
/Data/Template_Matching_Results/ex6/v6_250tv2_g/patient16136_4.jpg
/Data/Template_Matching_Results/ex6/v6_250tv2_g/patient64537_0.jpg
/Data/Template_Matching_Results/ex6/v6_250tv2_g/patient64537_1.jpg
/Data/Template_Matching_Results/ex6/v6_250tv2_g/patient64538_0.jpg
/Data/Template_Matching_Results/ex6/v6_250tv2_g/patient64539_0.jpg
/Data/Template_Matching_Results/ex6/v6_250tv2_g/patient64540_0.jpg
/Data/Template_Matching_Results/ex6/New Text Document.txt
/Data/Template_Matching_Results/
/Data/Template_Matching_Results/ex1/
/Data/Template_Matching_Results/ex2/
/Data/Template_Matching_Results/ex3/
/Data/Template_Matching_Results/ex4/
/Data/Template_Matching_Results/ex5/
/Data/Template_Matching_Results/ex6/
/Data/Template_Matching_Results/ex6/224/
/Data/Template_Matching_Results/ex6/238/
/Data/Template_Matching_Results/ex6/v6_250/
/Data/Template_Matching_Results/ex6/v6_250Tv2/
/Data/Template_Matching_Results/ex6/v6_250tv2_a/
/Data/Weights/
/Data/logs/
/Template_Matching/templates/Chex_template.png
/Template_Matching/templates/template_cxr_v1.jpg
/Template_Matching/templates/template_cxr_v1_resized.jpg
/Template_Matching/templates/template_cxr_v2.jpg
/Template_Matching/templates/template_cxr_v2_resized.jpg
/Template_Matching/templates/template_cxr_v2_tiny.jpg
/Template_Matching/templates/template_cxr_v3.jpg
/Template_Matching/templates/template_cxr_v3_extra_tiny.jpg
/Template_Matching/templates/template_cxr_v3_resized.jpg
/Template_Matching/templates/template_cxr_v3_tiny.jpg
/Template_Matching/templates/template_cxr_v4.jpg
/Template_Matching/templates/template_cxr_v4_resized.jpg
/Template_Matching/templates/template_cxr_v5.jpg
/Template_Matching/templates/template_cxr_v5_resized.jpg
/Template_Matching/templates/template_cxr_v5_tiny.jpg
/Template_Matching/templates/tmp_v3_cut.jpg
/Template_Matching/templates/tmp_v3_cut_resized.jpg
/Template_Matching/templates/tmp_v3_cut_resized_260.jpg
/Template_Matching/templates/v6.png
/Template_Matching/templates/v6_228.jpg
/Template_Matching/templates/v6_228_T.jpg
/Template_Matching/templates/v6_228_T_v2.jpg
/Template_Matching/templates/v6_238.jpg
/Template_Matching/templates/v6_238T.jpg
/Template_Matching/templates/v6_270.jpg
/Template_Matching/templates/v6_270_T.jpg
/Template_Matching/templates/v6_270_T_v2.jpg
/Template_Matching/templates/v6_280.jpg
/Template_Matching/templates/v6_280T.jpg
/Test_images/
/.idea/
/env/
/Data_Handler/patients_data_updated.csv
/Data_Handler/Train_U_zeros_LSR_005_03.csv
/Data_Handler/Train_U_zeros_LSR_0_03.csv
/Data_Handler/Train_U_ones_LSR_055_085.csv
/Train_U_zeros_LSR_0_03.csv
/Data_Handler/patients_data.csv
/Data_Handler/Age_LSR.csv
/Age_LSR.csv
/Train_U_ones_LSR_055_085.csv
/Train_U_zeros_LSR_005_03.csv
/Console_learning_18-19.docx
/Data/wyniki.xlsx
/wyniki-LSR.png
